@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: black;
  font-family: "Roboto Mono", monospace;
}

.Title {
  margin: 30px 0;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  font-family: "Lato", sans-serif;
  width: 550px;
}

.contenedor {
  background: turquoise;
  border: 1px solid white;
  width: 180px;
  height: 180px;
}

.item {
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
}

.buttons-lessons {
  width: 90px;
  height: 40px;
  background-color: white;
  border: 2px solid rgb(105, 230, 101);
  border-radius: 6px;
  cursor: pointer;
  &__container {
    display: flex;
    justify-content: space-around;
    width: 500px;
    padding-top: 15px;
    padding-bottom: 40px;
  }
}
.buttons-lessons:hover {
  background-color: rgba(209, 240, 206, 0.212);
}
