.contenedor {
  border: 5px solid #e1bee7;
  background-color: #fff1ff;

  display: grid;
  // grid-template-columns: 100px 200px 300px; //define columnas (tamaño y numero)
  // grid-template-rows: 150px 250px; //define filas (tamaño y numero)
  // grid-auto-rows: 150px; //define filas de un tamaño definido pero la cantidad sera automática.
  grid-auto-flow: column;
  grid-template-rows: 100px 200px;
  grid-auto-columns: 100px;
  // row-gap: 30px;
  // column-gap: 30px;
  gap: 30px;

  &__item {
    border: 5px solid #00bcd4;
    font-size: 4rem;
  }
}
