$blue: #81ccf1;
$yellow: #efc66a;
$pink: #d8a6cd;
$dark-pink: #c59ece;
$purple: #9996cd;

.portada {
  margin: 0;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  height: 100vh;
  color: white;
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
}
