@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.l1--pro__wrapper {
  @extend .wrapper;

  &__contenedor {
    @extend .contenedor;
    &__item {
      @extend .item;
    }
    .--1i {
      background: papayawhip;
      margin: 0;
    }
    .--2i {
      background: papayawhip;
      margin: 60px 0;
    }
    .--3i {
      background: papayawhip;
      margin: 120px 0;
    }
    .--4i {
      background: pink;
      margin: 0 auto;
    }
    .--5i {
      background: pink;
      margin: 60px auto;
    }
    .--6i {
      background: pink;
      margin: 120px auto;
    }
    .--7i {
      background: lightcyan;
      margin: 0 0 0 auto;
    }
    .--8i {
      background: lightcyan;
      margin: 60px 0 0 auto;
    }
    .--9i {
      background: lightcyan;
      margin: 120px 0 0 auto;
    }
  }
}
