@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.l2--pro__wrapper {
  @extend .wrapper;

  &__contenedor {
    @extend .contenedor;
    &__item {
      @extend .item;
    }
    .--1 {
      background: papayawhip;
      display: inline-block;
      line-height: 45px;
      vertical-align: top;
    }
    .--2 {
      background: papayawhip;
    }
    .--3 {
      background: papayawhip;
    }
    .--4 {
      background: pink;
    }
    .--5 {
      background: pink;
    }
    .--6 {
      background: pink;
    }
    .--7 {
      background: pink;
    }
    .--8 {
      background: pink;
    }
    .--9 {
      background: lightcyan;
    }
  }
  .--1,
  .--2,
  .--3 {
    text-align: left;
    line-height: 180px;
  }
}
