@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.l5--pro__wrapper {
  @extend .wrapper;

  // .--1c,
  // .--2c,
  // .--3c {
  //   text-align: left;
  //   line-height: 180px;
  // }
  // .--4c,
  // .--5c,
  // .--6c {
  //   text-align: center;
  //   line-height: 180px;
  // }
  // .--7c,
  // .--8c,
  // .--9c {
  //   text-align: right;
  //   line-height: 180px;
  // }

  &__contenedor {
    @extend .contenedor;
    position: relative;

    &__item {
      @extend .item;
    }
    .--1i {
      background: papayawhip;
      position: absolute;
      left: 0;
      top: 0;
    }
    .--2i {
      background: papayawhip;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
    }
    .--3i {
      background: papayawhip;
      position: absolute;
      left: 0;
      top: 100%;
      transform: translate(0, -100%);
    }
    .--4i {
      background: pink;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
    }
    .--5i {
      background: pink;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    .--6i {
      background: pink;
      position: absolute;
      left: 50%;
      top: 100%;
      transform: translate(-50%, -100%);
    }
    .--7i {
      background: lightcyan;
      position: absolute;
      left: 100%;
      transform: translate(-100%, 0);
    }
    .--8i {
      background: lightcyan;
      position: absolute;
      left: 100%;
      top: 50%;
      transform: translate(-100%, -50%);
    }
    .--9i {
      background: lightcyan;
      position: absolute;
      left: 100%;
      top: 100%;
      transform: translate(-100%, -100%);
    }
  }
}
