@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.l1--pro__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  font-family: "Lato", sans-serif;
  width: 550px;
  &__contenedor {
    background: turquoise;
    width: 180px;
    height: 180px;
    &__item {
      width: 60px;
      height: 60px;
      text-align: center;
      padding-top: 10px;
      box-sizing: border-box;
    }
    .--1 {
      background: papayawhip;
      // margin: ;
    }
    .--2 {
      background: papayawhip;
      // margin: ;
    }
    .--3 {
      background: papayawhip;
      // margin: ;
    }
    .--4 {
      background: pink;
      // margin: ;
    }
    .--5 {
      background: pink;
      // margin: ;
    }
    .--6 {
      background: pink;
      // margin: ;
    }
    .--7 {
      background: lightcyan;
      // margin: ;
    }
    .--8 {
      background: lightcyan;
      // margin: ;
    }
    .--9 {
      background: lightcyan;
      // margin: ;
    }
  }
}
