.grid-container {
  max-width: 980px;
  margin: auto;
}
.blogs-main {
  display: grid;
  &__news-container {
    background-color: #e6e9ed;
    padding: 0 50px 40px;
    margin-bottom: 20px;
    &__new {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 2fr;
      h3 {
        padding: 14px 0;
      }
      &__img-container {
        grid-column: 1;
        img {
          width: 85%;
        }
      }
    }
    &__info {
      grid-column: 2;
      p {
        margin-bottom: 35px;
      }
    }
  }
  &__posts-container {
    padding: 0 50px 40px;
    h3 {
      border-bottom: 1px solid #cdd2da;
      padding-bottom: 20px;
      text-align: center;
    }
    &__posts {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    &__post {
      display: inline-block;
      padding-left: 10px;
      max-width: 30%;
      margin-bottom: 50px;
      margin-top: 20px;
      p {
        margin-bottom: 35px;
      }
      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 900px) {
  .blogs-main {
    &__news-container {
      &__new {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;

        &__img-container {
          grid-row: 2;
        }
      }
      &__info {
        grid-column: 1;
        grid-row: 3;
      }
    }
    &__posts-container {
      &__post {
        max-width: 45%;
      }
    }
  }
}

@media (max-width: 600px) {
  .blogs-main__posts-container__post {
    max-width: 95%;
  }
}
